.block-heading {
      color: #3b99e0;
      text-align: center;
      margin-bottom: 40px;
    }
    .summary {
      background-color: #f7fbff;
      border-top: 3px solid #5ea4f3;
      padding: 30px;
    }
    .summary h4 {
      border-bottom: 1px solid #dee2e6;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
    .summary .btn {
      background-color: #3b99e0;
      color: #fff;
      width: 100%;
      font-weight: 600;
    }
    .product {
      padding: 20px;
      border-bottom: 1px solid #dee2e6;
    }
    .product:last-child {
      border-bottom: none;
    }